/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
	/* From el figma de Adrian */
  --primary-color1: #BE0016;
  --primary-color2: #790C18;
  --primary-color3: #E54658;

  --secondary-color1: #FFF1C4; /* Beige */
  --secondary-color2: #161414; /* Gris oscuro */

  --button-color-claro: #BE0016; /*oscuro para el modo claro: primary-color1*/
  --button-color-oscuro:  #FF8B8B; /*claro para el modo oscuro: color-posiblemente2 */
  --button-color-activado-claro: #790C18; /*para el modo claro, buton activado: primary-color2 (antés: azul oscuro) */
  --button-color-activado-oscuro: #FF1111; /*para el modo oscuro, buton activado: color-posiblemente1 */
  --button-color-hover-claro: #E54658; /*para el modo claro, buton hovered: primary-color3 */
  --button-color-hover-oscuro: #FF0000; /*para el modo oscuro, buton activado: color-posiblemente3 */

  --text-color-claro: #161414; /*oscuro para el modo claro: secondary-color2: Gris oscuro */
  --background-color-claro: #90B8F3; /* Azul claro: color "posiblamente6" de Figma */

  --text-color-oscuro: #FFF1C4; /*claro para el modo oscuro: secondary-color1: Beige */
  --background-color-oscuro: #20538F; /* Azul oscuro: color "posiblamente4" de Figma */
  
  /* --paragraph: #7D7987;
  --link-color: #1F1534; */
}


/* -> modo claro */
.claro body {
color: var(--text-color-claro);  /* antés: #121212; */
background-color: var(--background-color-claro);  /*antés:  #90B8F3; */
}
/* -> modo oscuro */
.oscuro body {
color: var(--text-color-oscuro);  /*antés:  #FFF; */
background-color: var(--background-color-oscuro);  /*antés:  #20538F;*/
}


/*iframe {
	height: 100%;
}
*/

#content {
	height: 100%;
	border: 0;
	width:"800";
	height:auto;
	/*frameborder:0;
	scrolling:"no";*/
}

h1 {
	/*color: green;
	background-color: #3084E7;*/
	text-align: center;
}

/*.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/

/* -> modo claro */
.claro body {
color: var(--text-color-claro);  /* antés: #121212; */
background-color: var(--background-color-claro);  /*antés:  #90B8F3; */
}
/* -> modo oscuro */
.oscuro body {
color: var(--text-color-oscuro);  /*antés:  #FFF; */
background-color: var(--background-color-oscuro);  /*antés:  #20538F;*/
}

.claro .servicio-card p {
	background-color: #3084E7;
}
.oscuro .servicio-card p {
	background-color: #90B8F3;
}

.claro .servicio-card h2 {
	background-color: #121212; /* gris oscuro */
	color: white;
}

.oscuro .servicio-card h2 {
	background-color: white;
	color: #121212; /* gris oscuro */
}

.navigation-list{
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 40px;
    padding-right: 6px;
}

/* Colors for the menu's text; TODO: update colors */
/*a.menu-link:link claro{
    color: blue;
}
a.menu-link:visited claro{
    color: purple;
}
a.menu-link:hover claro{
    color: goldenrod;
}
a.menu-link:active claro{
    color: darkgreen;
}*/

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type:none; /* no bullet */
    padding-top: 10px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.navigation-list{
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 40px;
    padding-right: 6px;
}

/* Botones */
.claro boton_main_menu {
color: var(--text-color-claro);
background-color: var(--button-color-oscuro);
}

.oscuro boton_main_menu {
color: var(--text-color-oscuro);
background-color: var(--button-color-claro);
}

/* Como se manejan los estados activado/hover? */
.claro .activado boton_main_menu {
color: var(--text-color-claro);
background-color: var(--button-activado-color-oscuro);
}

.oscuro .activado boton_main_menu {
color: var(--text-color-oscuro);
background-color: var(--button-activado-color-claro);
}

.claro .hover boton_main_menu {
color: var(--text-color-claro);
background-color: var(--button-hover-color-oscuro);
}

.oscuro .hover boton_main_menu {
color: var(--text-color-oscuro);
background-color: var(--button-hover-color-claro);
}

.logos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#jvc-logo{
	width:30.0%;
}
#cristauro-logo{
	width:10.0%;
}