/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ------------------------- variables para todos los colores ------------------------ */

:root {
	/* Desde el figma de Adrian */
  --primary-color1:  #BE0016;
  --primary-color2: #790C18;
  --primary-color3: #E54658;
  --primary-color3-transp: #E546587F;

  --secondary-color1: #FFF1C4; /* Beige */
  --secondary-color2: #161414; /* Gris oscuro */
  --secondary-color3: #90B8F3; /* Azul claro */
  --secondary-color4: #3084E7; /* Azul medio */
  --secondary-color5: #20538F; /* Azul oscuro */

  --button-color-claro: #BE0016;
  --button-text-color-claro: #FFF1C4;

  --button-color-oscuro: #BE0016; /*primary-color1*/
  --button-text-color-oscuro:  #FF8B8B;

  --button-color-activado-claro: #790C18; /*para el modo claro, buton activado: primary-color2 (antés: azul oscuro) */
  --button-color-activado-oscuro: #FF1111; /*para el modo oscuro, buton activado: color-posiblemente1 */
  --button-color-hover-claro: #E54658; /*para el modo claro, buton hovered: primary-color3 */
  --button-color-hover-oscuro: #FF0000; /*para el modo oscuro, buton activado: color-posiblemente3 */


  --text-color-claro: #161414; /*oscuro para el modo claro: secondary-color2: Gris oscuro */
  --background-color-claro: #90B8F3; /* Azul claro: color "posiblamente6" de Figma */

  --text-color-oscuro: #FFF1C4; /*claro para el modo oscuro: secondary-color1: Beige */
  --background-color-oscuro: #20538F; /* Azul oscuro: color "posiblamente4" de Figma */
  
  /* --paragraph: #7D7987;
  --link-color: #1F1534; */
}


/* -> modo claro */
.claro.main_div {
    color: var(--text-color-claro);
    background-image: url("../assets/img/Otros/ILwMb87.png");
    background-color: var(--background-color-claro);
}

/* -> modo oscuro */
.oscuro.main_div {
    color: var(--text-color-oscuro);
    background-image: url("../assets/img/Otros/ILwMb87.png");
    background-color: var(--background-color-oscuro);
}

h1 {
	text-align: center;
    text-transform: uppercase;
}

h2 {
    text-transform:uppercase;
}

.claro .servicio-card p {
	background-color: var(--secondary-color4);
}
.oscuro .servicio-card p {
	background-color: var(--background-color-claro);
}

.claro .servicio-card h2 {
	background-color: var(--secondary-color2); /* gris oscuro */
	color: var(--secondary-color1);
}

.oscuro .servicio-card h2 {
	background-color: var(--secondary-color1);
	color: var(--secondary-color2); /* gris oscuro */
}

.img-menu-movil {
    width: 30%;
}

.navigation-list{
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 40px;
    padding-right: 6px;
}

.centered{
    justify-content: center;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-top: 10px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.submenu {
    position: absolute;
    /*background-color: var(--secondary-color2);
    border: 2px solid white;*/
    left: 10%;
    list-style-type: disc;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.submenu a {
    padding: 5px;
}
#submenu-movil .submenu li {
    display: none;
}

#submenu-movil:hover .submenu {
    display: block;
}

#submenu-movil:hover .submenu  li{
    display: block;
}

.navigation-list{
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 40px;
    padding-right: 6px;
}

/* ------------------ formularios ---------------------*/
.boton_sendform{
    color: var(--button-text-color-claro);
    background-color: var(--button-color-claro);
    text-align:center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
}
/*.boton_sendform:active {
    color: var(--button-text-color-claro);
    background-color: var(--button-activado-color-oscuro);
}*/
    
.boton_sendform:hover {
    color: var(--button-text-color-claro);
    background-color: var(--button-color-hover-claro);
}

form_left{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    position:relative;
    padding-left: 0;
    left: 10px;
}
.label_form{
    display: inline-block;
    /*
    color: var(--secondary-color1);
    background:var(--primary-color1);*/
    color: var(--primary-color2);
    background:var(--secondary-color3);

    font-size: 16px;
    font-weight: 400;
    flex-basis: 20%;
    margin:0px;font-family:'Roboto Condensed';
    text-align: left;
} 

/* ---------------------- Botones del menu principal ----------------------*/
.claro .boton_main_menu {
color: var(--button-text-color-claro);
background-color: var(--button-color-claro);
}

.oscuro .boton_main_menu {
color: var(--button-text-color-oscuro);
background-color: var(--button-color-oscuro);
}

.claro .boton_main_menu:active {
color: var(--button-text-color-oscuro);
background-color: var(--button-activado-color-claro);
}

.oscuro .boton_main_menu:active {
color: var(--button-text-color-claro);
background-color: var(--button-activado-color-oscuro);
}

.claro .boton_main_menu:hover {
color: var(--button-text-color-claro);
background-color: var(--button-color-hover-claro);
}

.oscuro .boton_main_menu:hover {
color: var(--button-text-color-oscuro);
background-color: var(--button-color-hover-oscuro);
}

/* -------------------- LOGOS -------------------- */

.logos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#jvc-logo{
	width:30.0%;
}
#cristauro-logo{
	width:10.0%;
}

.logos_footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.marca_logo{
   width:16%; 
}

article div.p-titulo{
    display: flex;
    justify-content: center;
}

.p-titulo h1{
    display:inline-block;
    color: var(--secondary-color1);
    font-size: 22px;
    font-weight: 700;
    background:var(--primary-color1); /* --secondary-color5); */
    margin:0px;font-family:'Roboto Condensed';
    text-transform:uppercase;
    transform: skewX(-14deg);
    text-align: center;
    padding:7px 50px;
    border-radius:4px;
    box-shadow:inset 0px -3px 0px rgba(0,0,0,.2);
}

/* -------------------- CAROUSEL 1 de inicio.htm ------------------------ */
#slider{font-size:0px;background:url(assets/img/Otros/aGCjIJ9.png) no-repeat center var(--secondary-color4);}

#slider-img{margin:0px auto;max-width:1200px;box-shadow:0px 0px 20px rgba(0,0,0,0.2);position:relative;z-index:0;overflow:hidden;}
#slider-img .b{position:absolute;left:-50px;top:0px;width:50px;height:100%;background:url(assets/img/Otros/ZazCFfN.png) no-repeat center;opacity:0;}
#slider-img .b.siguiente{background-image:url(assets/img/Otros/LFn6U7B.png);left:auto;right:-50px;}
#slider-img:hover .b{left:0px;background-color:rgba(0,0,0,.2);opacity:1;}
#slider-img:hover .b.siguiente{left:auto !important;right:0px;}
#slider-img .slider{margin:0px;padding:0px 0px;list-style:none;font-size:0px;text-align:center;width:100%;white-space:nowrap;box-sizing:border-box;}
#slider-img .slider li{display:inline-block;width:100%;vertical-align:top;}
#slider-img .slider li a{display:block;overflow:hidden;}
#slider-img .slider li img{width:100%;margin:0 0px;}

/* -------------------- CAROUSEL (abajo de inicio.htm)-------------------- */
.list{margin:-15px;padding:0px;list-style:none;font-size:0px;}
.list li{display:inline-block;vertical-align:top;width:calc(100% / 4);padding:15px;}
.list li > div{border:1px solid transparent;transition:all .2s;}
.list li a{display:block;}
.list li .i{position:relative;}
.list li .i figure{margin:0px;}
.list li .i .v{width:100%;height:0;background:var(--primary-color3-transp);position:absolute;text-align:center;transition:all .2s;overflow:hidden;}
.list li .i .v span{display:inline-block;font-size:12px;color:var(--secondary-color1);border:2px solid var(--secondary-color1);line-height:30px;padding:0px 15px;top:calc(50% - 16px);position:relative;transition:all .2s;font-weight:500;text-transform:uppercase;}
.list li .i .v span:hover{padding:0px 30px;}
.list li .i figure img{width:100%;}
.list li .a{font-size:11px;color:var(--secondary-color1);text-align:center;padding:10px;background:var(--primary-color1);font-weight: bold;}
.list li:hover .a{background:var(--primary-color1);color:var(--secondary-color1);}
.list li:hover > div{border-color:var(--primary-color1);}
.list li:hover .i .v{height:100%;}

.list.slid{margin:0px 0px 25px 0px;}
.list.slid li{padding:0px 10px;}

.list.cat{margin:-10px -10px 25px -10px;}
.list.cat li{width:calc(100% / 6);padding:10px;}
.list.cat li .i .v span{display:none;}
/* -------------------- FIN DE CAROUSEL ------------- */

.img-offerta {
    width:30%;
    height:auto;
}

.spreaded-col {
    display:flex;
    align-content: space-between;
}
.centered-col {
    display:flex;
    align-content: center;
    flex-direction: row;
}
/*          Test for the shape of the button Offertas
cf https://stackoverflow.com/questions/25445118/elongated-hexagon-shaped-button-using-only-one-element
*/
/* Button Border Style */

.button-offerta{
    display:block;
	position: relative;
	line-height:80px;
	text-align:center;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	color: var(--primary-color1);
	margin:20px auto;
    font-family:Helvetica, Arial, sans-serif;
	box-sizing:border-box;
    color: var(--secondary-color1);
	background: var(--primary-color1);
}

/* Button Ribbon-Outset Border Style */

.button-offerta.ribbon-outset.border:before{
    top: 50%;
    content: " ";
    height: 43px;
    width: 43px;
    position: absolute;
    pointer-events: none;  
}
.button-offerta.ribbon-outset.border:after {
    content: " ";
    height: 80px;
    width: 43px;
    position: absolute;
    pointer-events: none;  
    left:0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-bottom: 4px solid var(--primary-color3);
    border-left: 4px solid var(--primary-color3);
    transform: skew(-14deg);
    background: var(--primary-color1);
    z-index: 0;
}
.button-offerta.ribbon-outset.border:before {
  right: -46px;
  margin-top: -40px;
  transform-origin: 0 0;
  box-sizing: border-box;
  border-top: 4px solid var(--primary-color3);
  border-right: 4px solid var(--primary-color3);
  transform: rotate(57.5deg) skew(30deg);
  background: var(--primary-color1);
}
.text-offerta
{
    z-index: 1;
}
/* .button-offerta.ribbon-outset.border:hover:after {
    background: var(--primary-color3);
}
.button-offerta.ribbon-outset.border:hover:before {
  background: var(--primary-color3);
}*/

.carousel-item img {
    width: 100%; 
    height: 50%; 
    border-radius: 3%;
    border: 3px solid #c00404;   
}


.card {
    width: 200px; 
    height: 400px; 
   border-radius: 45px;
   overflow: hidden;
  }
  
  
  .container-cards {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
  }
  .container-cards .row {
      flex-wrap: wrap;
  }
  
  .container-cards .row .col-sm-4 .card  {
      border-radius: 15px !important;
      overflow: hidden !important;
      text-align: center;
  }
  
  /* Para cambiar el color de fondo de la tarjeta */
  .container-cards .row .col-sm-4 .card {
      background-color: #910E0E; 
  }
  
  /* Para cambiar el color del texto dentro de la tarjeta */
  .container-cards .row .col-sm-4 .card .card-body .card-text {
      color: #FFF1C4; 
  }
  
  /* Para cambiar el color de fondo y el color del texto del botón */
  .container-cards .row .col-sm-4 .card .card-body .btn:hover {
      background-color: #0729c4; 
      color: #FFF1C4; 
      background-color: #c00404;
  
  }
  
  .container-cards .row .col-sm-4 .card .card-img-top {
      width: 100%; /* Esto hará que la imagen ocupe todo el ancho de la tarjeta */
      height: 180px; /* Esto establece la altura de la imagen a 200px */
      object-fit: cover; /* Esto hará que la imagen mantenga su aspecto mientras se ajusta al espacio disponible */
  }
  
  .container-cards .row .col-sm-4 .card .card-body .card-title {
      color: #FFF1C4; 
  }
  

  .mi-cuadro {
    background-color: #c00404; 
    margin-top: 50px; 
    padding: 20px;
    text-align: center;
    max-width: 400px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
 
}

.mi-cuadro h1 {
    font-size: 1.5em; 
    color: #FFF1C4; 
}
.mi-cuadro p {
    color:#FFF1C4 
}
  


