/* reset */
* {padding: 0; margin: 0; box-sizing: border-box; list-style: none; text-decoration: none;}

/*  variables comunes para todos los colores -*/
:root {
	/* Desde el figma de Adrian */
  --primary-color1:  #BE0016;
  --primary-color2: #790C18;
  --primary-color3: #E54658;
  --primary-color3-transp: #E546587F;
  --secondary-color1: #FFF1C4; /* Beige */
  --secondary-color2: #161414; /* Gris oscuro */
  --secondary-color3: #90B8F3; /* Azul claro */
  --secondary-color4: #3084E7; /* Azul medio */
  --secondary-color5: #20538F; /* Azul oscuro */
  --gray-transp: rgba(0,0,0,0.2);
  --gray: rgb(228, 225, 227);
  --button-color-claro: #BE0016;
  --button-text-color-claro: #FFF1C4;
  --button-color-oscuro: #BE0016; /*primary-color1*/
  --button-text-color-oscuro:  #FF8B8B;
  --button-color-activado-claro: #790C18; /*para el modo claro, buton activado: primary-color2 (antés: azul oscuro) */
  --button-color-activado-oscuro: #FF1111; /*para el modo oscuro, buton activado: color-posiblemente1 */
  --button-color-hover-claro: #E54658; /*para el modo claro, buton hovered: primary-color3 */
  --button-color-hover-oscuro: #FF0000; /*para el modo oscuro, buton activado: color-posiblemente3 */
  --text-color-claro: #161414; /*oscuro para el modo claro: secondary-color2: Gris oscuro */
  --background-color-claro: #90B8F3; /* Azul claro: color "posiblamente6" de Figma */
  --text-color-oscuro: #FFF1C4; /*claro para el modo oscuro: secondary-color1: Beige */
  --background-color-oscuro: #20538F; /* Azul oscuro: color "posiblamente4" de Figma */
}

.claro.main-div { color: var(--text-color-claro); background-image: url("../assets/img/Otros/ILwMb87.png");
    background-color: var(--background-color-claro);}

h1 {text-align: center; text-transform: uppercase;}
h2 {text-transform:uppercase;}

.img-menu-movil {width: 30%;}
.navigation-list{padding-top: 10px; margin-top: 0px; margin-left: 40px; padding-right: 6px;}
.centered{justify-content: center;}
.menu{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; list-style-type: none;
    padding-top: 10px; margin-top: 0px; padding-left: 0px; margin-left: 0px;}
.submenu {position: absolute; left: 10%; list-style-type: disc; padding-top: 0px; margin-top: 0px; padding-left: 0px;
    margin-left: 0px; z-index: 1;}
.submenu a {padding: 5px;}
#submenu-movil .submenu li {display: none;}
#submenu-movil:hover .submenu {display: block;}
#submenu-movil:hover .submenu  li{display: block;}

.navigation-list{padding-top: 10px; margin-top: 0px; margin-left: 40px; padding-right: 6px;}
/* Botones del menu principal */
.boton-main-menu.claro { color: var(--button-text-color-claro); background-color: var(--button-color-claro);}
.claro form-left:active {color: var(--button-text-color-oscuro); background-color: var(--button-activado-color-claro);}
.boton-main-menu.claro:active {color: var(--button-text-color-claro); background-color: var(--button-activado-color-oscuro);}
.boton-main-menu.claro:hover {color: var(--button-text-color-claro); background-color: var(--button-color-hover-claro);}
/* LOGOS  */
.logos {display: flex; flex-direction: row; justify-content: space-between;}
#jvc-logo{ width:30.0%;}
#cristauro-logo{width:10.0%;}
.logos-footer { display: flex; flex-direction: row; justify-content: space-between; }
.marca-logo{width:16%; }

/* CSS para mobile */
@media screen and (max-width: 768px) { .col-6 { flex: 0 0 100%; max-width: 100%;}
    .row {flex-direction: column;}}
/* --- FIN DE LA PARTE COMUN -- */

/* Pagina servicios */
.claro .servicio-card p {background-color: var(--secondary-color4);}
.claro .servicio-card h2 {background-color: var(--secondary-color2); /* gris oscuro */
	color: var(--secondary-color1);}

/* paginas de formularios */
.boton-sendform{color: var(--button-text-color-claro); background-color: var(--button-color-claro);
    text-align:center; margin-left: 0; margin-right: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 20%; padding-right: 20%;}
.boton-sendform:hover { color: var(--button-text-color-claro); background-color: var(--button-color-hover-claro);}
form-left{display: flex; align-content: flex-start; justify-content: flex-start; flex-direction: row;
    position:relative; padding-left: 0; left: 10px;}
.label-form{display: inline-block; color: var(--primary-color2); background: none;
    font-size: 16px; font-weight: 400; flex-basis: 20%; margin:0px; font-family:'Roboto Condensed';text-align: left;}

/* Pagina index.html (inicio) */
/* CAROUSEL 1 */
#slider{font-size:0px;background:url(assets/img/Otros/aGCjIJ9.png) no-repeat center var(--secondary-color4);}
#slider-img{margin:0px auto;max-width:1200px;box-shadow:0px 0px 20px var(--gray-transp);position:relative;z-index:0;overflow:hidden;}
#slider-img .b{position:absolute;left:-50px;top:0px;width:50px;height:100%;background:url(assets/img/Otros/ZazCFfN.png) no-repeat center;opacity:0;}
#slider-img .b.siguiente{background-image:url(assets/img/Otros/LFn6U7B.png);left:auto;right:-50px;}
#slider-img:hover .b{left:0px;background-color: var(--gray-transp); opacity:1;}
#slider-img:hover .b.siguiente{left:auto !important;right:0px;}
#slider-img .slider{margin:0px;padding:0px 0px;list-style:none;font-size:0px;text-align:center;width:100%;white-space:nowrap;box-sizing:border-box;}
#slider-img .slider li{display:inline-block;width:100%;vertical-align:top;}
#slider-img .slider li a{display:block;overflow:hidden;}
#slider-img .slider li img{width:100%;margin:0 0px;}

/* CAROUSEL 2 (abajo) */
.carousel-inicio.list{margin:-15px;padding:0px;list-style:none;font-size:0px;}
.carousel-inicio.list li{display:inline-block;vertical-align:top;width:calc(100% / 4);padding:15px;}
.carousel-inicio.list li > div{border:1px solid transparent;transition:all .2s;}
.carousel-inicio.list li a{display:block;}
.carousel-inicio.list li .i{position:relative;}
.carousel-inicio.list li .i figure{margin:0px;}
.carousel-inicio.list li .i .v{width:100%;height:0;background:var(--primary-color3-transp);position:absolute;text-align:center;transition:all .2s;overflow:hidden;}
.carousel-inicio.list li .i .v span{display:inline-block;font-size:12px;color:var(--secondary-color1);border:2px solid var(--secondary-color1);line-height:30px;padding:0px 15px;top:calc(50% - 16px);position:relative;transition:all .2s;font-weight:500;text-transform:uppercase;}
.carousel-inicio.list li .i .v span:hover{padding:0px 30px;}
.carousel-inicio.list li .i figure img{width:100%;}
.carousel-inicio.list li .a{font-size:11px;color:var(--secondary-color1);text-align:center;padding:10px;background:var(--primary-color1);font-weight: bold;}
.carousel-inicio.list li:hover .a{background:var(--primary-color1);color:var(--secondary-color1);}
.carousel-inicio.list li:hover > div{border-color:var(--primary-color1);}
.carousel-inicio.list li:hover .i .v{height:100%;}
.carousel-inicio.list.slid{margin:0px 0px 25px 0px;}
.carousel-inicio.list.slid li{padding:0px 10px;}
.carousel-inicio.list.cat{margin:-10px -10px 25px -10px;}
.carousel-inicio.list.cat li{width:calc(100% / 6);padding:10px;}
.carousel-inicio.list.cat li .i .v span{display:none;}
/* FIN DE CAROUSEL */

.img-offerta {width:30%; height:auto;}
.spreaded-col { display:flex; align-content: space-between;}
.centered-col { display:flex; align-content: center; flex-direction: row; }
/* Forma de los botones offertas */ 
.button-offerta{display:block; position: relative; line-height:80px; text-align:center; font-size:16px;
	text-decoration:none; text-transform:uppercase; color: var(--primary-color1); margin:20px auto;
    font-family:Helvetica, Arial, sans-serif; box-sizing:border-box; color: var(--secondary-color1); background: var(--primary-color1);
}
.button-offerta.small{ transform: skew(-14deg); }

/* Button Ribbon-Outset Border Style */
.button-offerta.ribbon-outset.border:before{
    top: 50%;content: " "; height: 43px; width: 43px; position: absolute; pointer-events: none; }
.button-offerta.ribbon-outset.border:after {content: " "; height: 80px; width: 43px; position: absolute;
    pointer-events: none; left:0; transform-origin: 0 0; box-sizing: border-box; border-bottom: 4px solid var(--primary-color3);
    border-left: 4px solid var(--primary-color3); transform: skew(-14deg); background: var(--primary-color1); z-index: 0;}
.button-offerta.ribbon-outset.border:before {
  right: -46px; margin-top: -40px; transform-origin: 0 0; box-sizing: border-box; border-top: 4px solid var(--primary-color3);
  border-right: 4px solid var(--primary-color3); transform: rotate(57.5deg) skew(30deg); background: var(--primary-color1);}
.text-offerta { z-index: 1; }

/* Pagina nosotros */
.row.nosotros-img-container{ display: flex; flex-direction: row; align-content:space-around; }
.col.nosotros-img-container1{ display: flex; flex-direction: column; align-items: center; }
.col.nosotros-img-container1 img{ width:90%; height:auto;}

@media only screen and (max-width: 820px) {.col.nosotros-img-container{display: flex; flex-direction: column;}}
.col.nosotros-img-container{display: flex; align-items: center; /* Texto centrado verticalmente */ }
.col.nosotros-img-container img{ width:80%; height:auto; }

.carousel-item img {width: 100%; height: 50%; border-radius: 3%; border: 3px solid var(--primary-color1); }
.card {width: 200px;  height: 400px; border-radius: 45px; overflow: hidden; }
.container-cards { display: flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 40px;}
.container-cards .row {flex-wrap: wrap; }
.container-cards .row .col-sm-4 .card  { border-radius: 15px !important; overflow: hidden !important; text-align: center;  }
/* Para cambiar el color de fondo de la tarjeta */
.container-cards .row .col-sm-4 .card {background-color: var(--primary-color2);}
/* Para cambiar el color del texto dentro de la tarjeta */
.container-cards .row .col-sm-4 .card .card-body .card-text {color: var(--secondary-color1); }
/* Para cambiar el color de fondo y el color del texto del botón */
.container-cards .row .col-sm-4 .card .card-body .btn:hover {background-color: var(--secondary-color5); color: var(--secondary-color1);
    background-color: var(--primary-color1);}
.container-cards .row .col-sm-4 .card .card-img-top {
      width: 100%; /* Esto hará que la imagen ocupe todo el ancho de la tarjeta */
      height: 180px; /* Esto establece la altura de la imagen a 200px */
      object-fit: cover; /* Esto hará que la imagen mantenga su aspecto mientras se ajusta al espacio disponible */
}
.container-cards .row .col-sm-4 .card .card-body .card-title { color: var(--secondary-color1); }
  
.mi-cuadro {background-color: var(--primary-color1); margin-top: 50px; padding: 20px;
    text-align: center; max-width: 400px; margin-left: auto; margin-right: auto; border-radius: 15px;}
.mi-cuadro h1 {font-size: 1.5em; color: var(--secondary-color1);}
.mi-cuadro p {color: var(--secondary-color1);}

.nosotros-img-container {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px;
    margin-bottom: 20px;}
.nosotros-img-container img { width: 60%; object-fit: contain; border-radius: 15px; box-shadow: 0px 0px 10px var(--gray-transp);}
.nosotros-img-container div { background-color: var(--primary-color1); padding: 20px; border-radius: 15px;
 box-shadow: 0px 0px 10px var(--gray-transp); text-align: center; max-width: 80%; /* Ajusta este valor para cambiar el ancho del texto */
 margin: 0 auto; /* Centra el texto horizontalmente */}
.nosotros-text {color: var(--secondary-color1);}

/* Pagina productos */
/* Carousel para productos */
.carousel-productos.list{margin:-15px;padding:0px;list-style:none;font-size:0px;}
.carousel-productos.list li{display:inline-block;vertical-align:top;width:calc(100% / 4);padding:15px;}
.carousel-productos.list li > div{border:1px solid transparent;transition:all .2s;}
.carousel-productos.list li .i{position:relative;}
.carousel-productos.list li .i figure{margin:0px;}
.carousel-productos.list li .i .v{width:100%;height:0;background:var(--primary-color3-transp);position:absolute;text-align:center;transition:all .2s;overflow:hidden;}
.carousel-productos.list li .i .v span{display:inline-block;font-size:12px;color:var(--secondary-color1);border:2px solid var(--secondary-color1);line-height:30px;padding:0px 15px;top:calc(50% - 16px);position:relative;transition:all .2s;font-weight:500;text-transform:uppercase;}
.carousel-productos.list li .i .v span:hover{padding:0px 30px;}
.carousel-productos.list li .i figure img{width:100%;}
.carousel-productos.list li:hover > div{border-color:var(--primary-color1);}
.carousel-productos.list li:hover .i .v{height:100%;}
.carousel-productos.list.slid{margin:0px 0px 25px 0px;}
.carousel-productos.list.slid li{padding:0px 10px;}
.carousel-productos.list.cat{margin:-10px -10px 25px -10px;}
.carousel-productos.list.cat li{width:calc(100% / 6);padding:10px;}
.carousel-productos.list.cat li .i .v span{display:none;}

/* Carousel2 para productos */
.carousel2-productos.list{margin:-15px;padding:0px;list-style:none;font-size:0px;}
.carousel2-productos.list li{display:inline-block;vertical-align:top;width:calc(100% / 4);padding:15px;}
.carousel2-productos.list li > div{border:1px solid transparent;transition:all .2s;}
.carousel2-productos.list li .i{position:relative;}
.carousel2-productos.list li .i figure{margin:0px;}
.carousel2-productos.list li .i .v{width:100%;height:0;background:var(--primary-color3-transp);position:absolute;text-align:center;transition:all .2s;overflow:hidden;}
.carousel2-productos.list li .i .v span{display:inline-block;font-size:12px;color:var(--secondary-color1);border:2px solid var(--secondary-color1);line-height:30px;padding:0px 15px;top:calc(50% - 16px);position:relative;transition:all .2s;font-weight:500;text-transform:uppercase;}
.carousel2-productos.list li .i .v span:hover{padding:0px 30px;}
.carousel2-productos.list li .i figure img{width:100%;}
.carousel2-productos.list li:hover .a{background:var(--primary-color1);color:var(--secondary-color1);}
.carousel2-productos.list li:hover > div{border-color:var(--primary-color1);}
.carousel2-productos.list li:hover .i .v{height:100%;}
.carousel2-productos.list.slid{margin:0px 0px 25px 0px;}
.carousel2-productos.list.slid li{padding:0px 10px;}
.carousel2-productos.list.cat{margin:-10px -10px 25px -10px;}
.carousel2-productos.list.cat li{width:calc(100% / 6);padding:10px;}
.carousel2-productos.list.cat li .i .v span{display:none;}
.contenedor-img { text-align: center; padding: 2%; background-color: var(--secondary-color2);}
.imgp { width: 80%; height: auto; padding: 10px; border-radius: 20%;}
 
#img-i{ float: left; margin-right: 10px;}
#img-d{float: right; /* Alinea la imagen a la derecha */
    margin-left: 100px; width: 200px; /* Ancho deseado */ height: auto; }
.contenedor-titulo {display: flex; /* Usamos flexbox para alinear los elementos en fila */
    justify-content: space-around; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    height: 200px; /* Altura del contenedor */}
.cuadro-rojo {background-color: var(--primary-color3); padding: 20px; color: var(--secondary-color1);
    margin: 10px; /* Espacio entre cada cuadro */}
.texto-debajo p:nth-of-type(1) {
    font-size: 24px; /* Tamaño de letra para el primer párrafo */
    font-weight: bold; /* Hacer el texto más grueso */
    color: var(--secondary-color2); /* Color del texto */
    text-align: center; /* Centrar el texto para el primer párrafo */
}
.texto-debajo p:nth-of-type(2) {
    font-size: 18px; /* Tamaño de letra para el segundo párrafo */
    line-height: 1.5; /* Ajustar el espaciado entre líneas */
    font-style: italic; /* Establecer estilo cursiva */
    color: var(--secondary-color2); /* Color del texto */
    text-align: center; /* Centrar el texto para el primer párrafo */
}
/* Estilos para las imágenes dentro de los círculos */
.contenedor-imagenes { display: flex; justify-content: center; margin-top: 20px;}
.circulo {width: 100px; height: auto; border-radius: 100%; background-color: var(--gray);
    display: flex; flex-direction: column; align-items: center;justify-content: center;margin: 20px;}
.circulo img {max-width: 100px;max-height: 80px;border-radius: 100%;margin-top: 30px;align-items: center;justify-content: center;}
.nombre-producto {text-align: center;font-weight: bold;font-size: 10px; /* Tamaño de letra para los nombres de productos */
    margin-top: 10px;position: relative;}
/*.slider {width: 50%; height: 600px; overflow: hidden;margin-left: 600px;}
.slider ul { display: flex;animation: cambio 20s infinite alternate linear;width: 465%;}
.slider li {width: 10%;list-style: none;}
.slider img { width: 100%;height: 100%;object-fit: cover;}
*/
@keyframes cambio {0%{margin-left: 0;} 20%{margin-left: 0;} 25%{margin-left: -100%;} 45%{margin-left: -100%;}
    50%{margin-left: -200%;} 70%{margin-left: -200%;}
    75%{margin-left: -300%;} 100%{margin-left: -300%;}}
.contenedor {margin-top: 60px; /* Puedes ajustar el valor para cambiar el espacio */
    margin-left: 150px; margin-right: 50px; justify-content: center; align-items: center;}
.texto1 { background-color: var(--secondary-color2); /* Fondo oscuro */
    color: var(--secondary-color1); /* Letra blanca */ padding: 20px; /* Espaciado interior para el texto */
    margin-top: -5px; margin-left: 10px; margin-right: 30px; align-items: center; border-radius: 10%; text-align: center;}
